#login {
    margin-top:10px;
    border: solid 1px lightgray;
    width: 400px;
    margin-left:auto;
    margin-right:auto;
    padding:10px;
    
    
    input{
        margin-top:5px;
        border-radius:5px;
        border:solid 1px lightgray;
    }
}